
body {
   font: 20px arial, sans-serif; 
}
.navbar {
    background-color: #58D3F7;
    color: #08088A;
}

.navbar-nav .nav-item .navbar .nav-link .collapse {
    color: #08088A;
}

.quem-somos {
  background-color: #A9E2F3; 
  color: #08088A;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #CEECF5;
    color:#08088A;
}

.bg-footer {
    background-color: #58D3F7;
    color: #08088A;
    padding-bottom: 10px;
    padding-top: 10px;
}

.servicos {
    background-color: #E0F2F7;
    color: #08088A;
}